@model POETEST_MVC.Models.Product

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .form-container h4 {
            margin-top: 0;
        }
</style>

<h2 class="text-center">Create Product</h2>

<div class="container">
    <div class="form-container">
        @using (Html.BeginForm("ProcessCreateProduct", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()

            <h4 class="text-center">Product</h4>
            <hr />

            @Html.HiddenFor(model => model.farmerID, new { value = ViewBag.FarmerID })

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.product, "Name:", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.product, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.type, "Type:", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.date, "Date:", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.farmerID, "Farmer ID:", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.farmerID, new { htmlAttributes = new { @class = "form-control", @value = ViewBag.FarmerID, @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.farmerID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        }

        <div class="mt-3">
            <div class="text-center">
                @Html.ActionLink("Back to List", "Index", new { farmerID = ViewBag.FarmerID }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>
